body{
  padding-top: 70px;
}
nav{
  background-color: #fff;
}
.jumbotron {
    text-align: center;
    background: none;

}

.navbar-nav{
  min-width: 440px;
}
.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

img.brand-logo {
    max-height: 30px;
    max-width: 200px;
    width: auto;
}
.carousel {
    max-height: 500px;
}
.d-block {
    height: 100%;
}
